{
  "extends": "@gulujs/eslint-config/js",
  "overrides": [
    {
      "files": ["test/**/*"],
      "env": {
        "mocha": true
      },
      "rules": {
        "no-unused-expressions": "off",
        "no-empty-function": "off"
      }
    }
  ]
}
